@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 96%;
    --foreground: 234 50% 24%;
    --card: 40 33% 96%;
    --card-foreground: 234 50% 24%;
    --popover: 40 33% 96%;
    --popover-foreground: 234 50% 24%;
    --primary: 232 51% 36%;
    --primary-foreground: 40 33% 96%;
    --secondary: 40 22% 92%;
    --secondary-foreground: 234 50% 24%;
    --muted: 40 22% 92%;
    --muted-foreground: 27 10% 34%;
    --accent: 40 22% 92%;
    --accent-foreground: 234 50% 24%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 40 22% 87%;
    --input: 40 22% 87%;
    --ring: 232 51% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 34% 25%;
    --foreground: 40 33% 96%;
    --card: 233 34% 25%;
    --card-foreground: 40 33% 96%;
    --popover: 233 34% 25%;
    --popover-foreground: 40 33% 96%;
    --primary: 232 51% 36%;
    --primary-foreground: 40 33% 96%;
    --secondary: 233 28% 30%;
    --secondary-foreground: 40 33% 96%;
    --muted: 233 28% 30%;
    --muted-foreground: 40 18% 82%;
    --accent: 233 28% 30%;
    --accent-foreground: 40 33% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 28% 30%;
    --input: 233 28% 30%;
    --ring: 232 51% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
